.btn {
  background: $primary;
  box-sizing: border-box;
  color: $white;
  border-radius: 0.5rem;
  font-weight: 500;
  border: none;
  transition: all 0.3s ease;
  border: 1px solid transparent;
 

  &:hover {
    color: $primary;
    border: 1px solid $primary;
  }
}
