.home-hero {
  height: 95vh;
  width: 100vw;
  padding-top: 3rem;
  background-color: $white;
  &__text {
    height: 100%;
    max-width: 80%;
    margin-left: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    &--main {
      font-size: 4rem;
      line-height: 5rem;
      font-weight: 700;
      color: $text;
    }

    &--sub {
      color: $gray;
      font-size: 1.8rem;
    }
  }

  &__picture {
    height: 95%;
  }

  .btn--hero {
    border-radius: 10rem;
    //   padding: 2rem 3rem;
    //   text-align: center;
  }

  .ant-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
  }
}

.home-projects {
  margin: 2rem 0;
  padding: 2rem 0;

  .card__container {
    display: grid;
    width: 100%;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: center;
  }

  &__card {
    padding: 4rem 2rem;
    transition: all 0.2s ease;
    cursor: pointer;
    border-radius: 2rem;

    &:hover {
      transform: translateY(-2rem);
      box-shadow: 0 3rem 6rem rgba($black, 0.1);
    }

    .card__image-box {
      padding: 2rem 0;
      img {
        border-radius: 1rem;
        object-fit: cover;
      }
    }
  }

  .card {
    &__content {
    }

    &__title {
      color: $text;
      font-size: 2rem;
      font-weight: 700;
    }

    &__text {
      color: $gray;
      font-size: 1.4rem;
    }

    &__link {
      color: $primary;
      cursor: pointer;
    }
  }
}

.home-about {
  background-color: $primary-dark;
  margin:  8rem 0;
  position: relative;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 7%;
  //   border-radius: 0 0 100% 100%;
  //   background-color: $white;
  // }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 7%;
  //   border-radius: 100% 100% 0 0;
  //   background-color: $white;
  //   z-index: 1;
  // }

  .first-row{
  }
  .second-row {
    margin-top: 5rem;

  }

  &__picture {
    border-radius: 1.5rem;

    box-shadow: -25px 20px 44px rgba(84, 48, 209, 0.4);

    width: 100%;
  }

  .picture-1 {
    margin-top: -5rem;
  }

  .picture-2 {
    margin-top: 5rem;
  }
  .about__text {
    &-box {
      color: $white;
      padding: 2rem;
    }

    &--primary {
      color: $white;
    }

    &--secondary {
      font-size: 1.4rem;
    }
  }
}

.home-testimonials {
  background: linear-gradient(to right, $primary-light, $white);

  padding: 10rem 0;

  .client-row {
    position: relative;
  }
  .client__list {
    img {
      // width: 6rem;
      position: absolute;
      cursor: pointer;
      transition: all 0.2s ease;
      &:hover {
        transform: scale(1.1);
      }
    }

    .client1 {
      width: 5rem;
      height: 5rem;
      top: -2rem;
      left: -8rem;
    }

    .client2 {
      width: 4rem;
      height: 4rem;

      top: 10rem;
      left: -18rem;
    }

    .client3 {
      width: 5rem;
      height: 5rem;

      top: 23rem;
      left: -8rem;
    }

    .client4 {
      width: 5rem;
      height: 5rem;

      top: -2rem;
      left: 44rem;
    }
    .client5 {
      width: 6rem;
      height: 6rem;

      top: 10rem;
      right: -20rem;
    }
    .client6 {
      height: 6rem;
      width: 6rem;
      top: 23rem;
      right: -12rem;
    }
  }

  .carousel {
    margin-top: 6rem;
    position: relative;
  }
  .message {
    width: 100%;
    height: 100%;
    padding: 8rem 6rem;
    background-color: $white;
    border-radius: 2rem;
    text-align: center;
    margin-bottom: 6rem;
    position: relative;

    &__text {
      color: $gray;
      font-size: 1.8rem;
      font-weight: 500;
    }
  }

  .slick-arrow {
    top: 85%;
    background-repeat: no-repeat;
    width: 20px;
    height: 18px;
    transition: 400ms ease;
    &.slick-prev {
      z-index: 10;
      background-image: url("../../img/arrow.svg");
      right: 6rem;
      transform: scale(0.5);
      left: auto;

      &:hover {
        transform: scale(0.8);
      }
    }
    &.slick-next {
      background-image: url("../../img/arrow.svg");
      transform: rotate(180deg) scale(0.9);
      right: 40px;
      &:hover {
        transform: rotate(180deg) scale(1.1);
      }
    }
    &:hover {
      transform: scale(1.5);
    }
  }
}

.home-contact {
  // padding: 3rem 0;
  background-color: $primary;
  color: $white;

  .developer {
    padding-top: 2rem;
    background: linear-gradient(to right, $primary-light, $white);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
      color: $gray;
      font-size: 3rem;
    }

    &__subtitle {
      color: $gray;
      width: 40%;
      font-size: 1.4rem;
    }
  }

  .contact {
    padding: 2rem 0;
  }
  .contact__text {
    font-size: 1.6rem;
    font-weight: 300;

    span {
      font-weight: 700;
    }
  }

  .btn--contact {
    border: 1px solid $white;
    border-radius: 2rem;
    padding: 2rem 3rem;
  }

  .ant-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
